<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Tweets</title>
</head>
<body>
    <h1>Liste des Tweets</h1>
    <ul>
        {% for tweet in tweets %}
            <li>{{ tweet.contenu }} - {{ tweet.auteur }} <button onclick="retweet('{{ tweet.tweetId }}')">Retweet</button></li>
        {% endfor %}
    </ul>
    <script>
        function retweet(tweetId) {
            const urlParams = new URLSearchParams(window.location.search);
            const userId = urlParams.get('userId');
            fetch('/retweet', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ tweet_id: tweetId, user_id: userId })
            })
            .then(response => {
                if (response.ok) {
                    alert("Tweet retweeté avec succès!");
                } else {
                    alert("Erreur lors du retweet du tweet.");
                }
            })
            .catch(error => {
                console.error('Erreur lors du retweet du tweet:', error);
            });
        }

    </script>
</body>
</html>
